h1,h2{color: rgb(53, 26, 2);
font-style: italic;
font-size:xx-large;}

body{background-color: rgb(149, 113, 67);
padding: 20px;}

.head{font-size: 75px;
text-align: center;}

.box{height: 450px;
overflow: auto;
max-width: 800px;
margin: 0 auto;}

img {width: 300px;
opacity: 0.5;}

.images{background-image: url(icecream1.jpeg);
background-image: url(icecream2.jpeg);
background-image: url(icecream3.jpeg);
height: 300px;
display: relative;
gap: 10px;}

